<div id="banner" class="page-header">
    <h1>Events!</h1>
</div>

<div id="eventList" class="d-flex flex-wrap justify-content-center">

    {{#each events}}
    <div id="listCards" class="card m-3">
        <div class="card-body">
            <a href="/events/{{id}}">{{this.event_name}}
        </div>
    </div>
    {{/each}}
</div>

<div id="buttons" class="d-flex justify-content-center pt-5">
    <a href="/events/new" class="btn btn-success btn-lg success p-4" role="button" aria-pressed="true">Create a
        new Event!</a>
</div>