<h1>Event List Page</h1>
{{!-- {{#each events}}
<p><a href="/events/{{id}}">Name: {{this.event_name}}</a></p>
{{/each}} --}}


<div id="eventList" class="d-flex flex-wrap">
    {{#each events}}
    <div class="card m-3">
        <img class="card-img-top" src="..." alt="Card image cap">
        <div class="card-body">
            <h5 class="card-title">Events</h5>
            <p><a href="/events/{{id}}">{{this.event_name}}</a></p>
        </div>
    </div>
    {{/each}}
</div>

{{!-- button to create a new event --}}
<a href="/events/new">Create a new event</a>