{{event.event_name}}

<br>
<br>

Attendee Names:
<ul>
    {{#each users}}
    <li>
        {{attendee_name}}
    </li>
    {{/each}}
</ul>

Interests:
<ul>
    {{#each interests}}
    <li>
        {{interest}}
    </li>
    {{/each}}
</ul>