<h1>Interest List Page</h1>
{{!-- {{#each events}}
<p><a href="/events/{{id}}">Name: {{this.event_name}}</a></p>
{{/each}} --}}


<div id="interestList" class="d-flex flex-wrap">
    {{#each interests}}
    <div class="card m-3">
        <img class="card-img-top" src="..." alt="Card image cap">
        <div class="card-body">
            <h5 class="card-title">Interests</h5>
            <p><a href="/interests/{{id}}">{{this.interest}}</a></p>
        </div>
    </div>
    {{/each}}
</div>

{{!-- button to create a new event --}}
<a href="/interests/new">Create a new interest</a>