<div id="jumbotronMain" class="jumbotron jumbotron-fluid">
    <div class="container">
        <h1 class="display-4 d-flex justify-content-center">Interests!</h1>
    </div>
</div>

<div class="container">
    <div id="interestList" class="d-flex flex-wrap">
        {{#each interests}}
        <div id="listCards" class="card m-3">
            <div class="card-body">
                <h3 class="card-title"><a href="/interests/{{id}}">{{this.interest}}</a></h3>
            </div>
        </div>
        {{/each}}
    </div>
</div>

{{!-- button to create a new event --}}
<p>
<div class="container text-center">
    <a class="btn btn-dark btn-lg dark p-4 m-4" href="/interests/new">Create a new interest</a>
    </p>
</div>