{{!-- using jumbotron for styling --}}
<div id="jumbotronMain" class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-4 d-flex justify-content-center">Welcome to Questival!</h1>
    <div class="blurb">
      <p>Questival is designed to connect fellow attendees with conventions, festivals and
        events that are tailored to their own personal interests. Create an account, add your interests and
        view
        events that align with what YOU care about. You will also be able to see other attendees that are
        going
        to those same events that share your interests! Plan a meetup, make a friend!</p>
    </div>
  </div>
</div>

<div class="d-flex flex-wrap justify-content-center">

  <div id="mainCard" class="card">
    <a href="/users">
      <img src="/assets/images/heart.png" class="card-img-top"
        alt="concert attendee creating a heart symbol with her hand in front of a stage" id="userImage">
      <div class="card-body">
        <h5 class="card-title">Attendees</h5>
    </a>
    {{!-- the url for users needs to go here --}}
    <a href="/users">View a list of all attendees here!</a>
  </div>
</div>

<div id="mainCard" class="card">
  <a href="/events">
    <img src="/assets/images/events.jpg" class="card-img-top" alt="Nobuo Uematsu performing live at MAGFest on stage">
    <div class="card-body">
      <h5 class="card-title">Events</h5>
  </a>
  {{!-- use this as your example --}}
  <a href="/events">View a list of all events here</a>
</div>
</div>

<div id="mainCard" class="card">
  <a href="/interests">
    <img src="/assets/images/cosplay.jpg" class="card-img-top" alt="Cosplayer">
    <div class="card-body">
      <h5 class="card-title">Interests</h5>
  </a>

  {{!-- the url for interests needs to go here --}}
  <a href="/interests">View a list of all interests here!</a>
</div>
</div>

</div>
