<div class="d-flex flex-wrap justify-content-center">

  <div id="mainCard" class="card">
    <a href="/users">
      <img src="/assets/images/heart.png" class="card-img-top" alt="..." id="userImage">
      <div class="card-body">
        <h5 class="card-title">Attendees</h5>
    </a>
    {{!-- the url for users needs to go here --}}
    <a href="/users">View a list of all attendees here!</a>
  </div>
</div>

<div id="mainCard" class="card">
  <a href="/events">
    <img src="/assets/images/events.jpg" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">Events</h5>
  </a>
  {{!-- use this as your example --}}
  <a href="/events">View a list of all events here</a>
</div>
</div>

<div id="mainCard" class="card">
  <a href="/interests">
    <img src="/assets/images/cosplay.jpg" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">Interests</h5>
  </a>

  {{!-- the url for interests needs to go here --}}
  <a href="/interests">View a list of all interests here!</a>
</div>
</div>

</div>
