<div class="card-deck">
  <div class="card">
    <img src="/public/assets/images/concert-heart.png" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">Users</h5>
      <p class="card-text">View a list of all Users.</p>
    </div>
    <div class="">
    </div>
  </div>
  <div class="card">
    <img src="/public/assets/images/magfest_stage.jpg" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">Events</h5>
      <p class="card-text">View a list of all events.</p>
    </div>
  </div>

  <div class="card">
    <img src="/public/assets/images/LAN.jpg" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">Interests</h5>
      <p class="card-text">View a list of all interests.</p>
      <ul>

      </ul>
    </div>
  </div>
</div>

<div class="card">
  <div class="card-body">
    <p>Welcome to Questival! Designed to connect con-goers with conventions, festivals and events that are tailored to
      their interests. Create an account, add your interests and then view events that align with your interests. You
      can also view fellow con-goers that are share your interests and will be attending the same event!</p>
  </div>
</div>