h1 {
    text-align: center;
    padding: 20px;
    font-family: 'Raleway', sans-serif;
}

h2 {
    text-align: center;
    padding: 20px;
    font-family: 'Raleway', sans-serif;
    color: rgb(59, 58, 59);
}

h3 {
    text-align: center;
    font-family: 'Raleway', sans-serif;
}

h5 {
    font-size: 35px;
}
body {
    font-family: 'Raleway', sans-serif;
}

#detailCard{
    opacity: 90%;
}

#mainCard {
    text-align: center;
    font-family: 'Raleway', sans-serif;
    margin: 40px;
    width:  600px
}

#jumbotronMain {
    margin-top: 30px;
    background-color: #c2d4ddde;
}

body {
    background-image: url(https://wallpaperplay.com/walls/full/b/2/f/95056.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: hsl(198, 66%, 31%);
}

.blurb {
    text-align: center;
    font-family: 'Raleway', sans-serif;
    font-size: 18px;
}

.blurbFont {
        font-family: 'Raleway', sans-serif;
}

#buttons {
    opacity: 80%;
}

.navbar {
    padding: 10px;
    padding-left: 40px;
    font-family: 'Raleway', sans-serif;
    font-size: 20px;
}

#listCards {
    background-color: #c2d4ddd5;
    font-family: 'Raleway', sans-serif;
    font-size: 20px;
}

a {
    color: rgb(61, 61, 61);
}

#attendeeName {
    background-color: hsla(275, 9%, 74%, 0.774);
    color: black;
    font-family: 'Raleway', sans-serif;
    font-size: 45px;
    margin: 10px;
}

.banner {
    background-color: rgba(194, 194, 194, 0.787);
    margin: 10px;
    margin-bottom: 20px;
    font-family: 'Raleway', sans-serif;

}