<div class="banner" class="page-header">
    <h1>Add a New User</h1>
</div>

<div class="container">
    <div class="row">

        <div style="width: 30%; margin: 25px auto;">
            <h3> Add a new User!</h3>
            <form action="/user" method="POST">
                <div class="form-group">
                    <label for="user-name">First and Last Name:</label>
                </div>
                <div class="form-group">
                    <textarea class="form-control" id="user-name" rows="3" name="name"></textarea>
                </div>
                <div class="form-group">
                    <button class="btn btn-lg btn-dark btn-block" id="newButton" type="submit">Submit</button>
                </div>
        </div>
    </div>
</div>
</form>