 <h1>Attendees</h1>

<div id="usersList" class="d-flex flex-wrap justify-content-center">
  <h2>{{#each users}}</h2>
       <div id="listCards" class="card m-3">
        <div class="card-body">
  	   <h2 class="card-title"></h2>
       <p><a href ="/users/{{this.id}}"> {{this.attendee_name}}</a></p>
       </div>
    </div>
    {{/each}}
</div>


   

    