<h2 id="attendeeName">{{user.attendee_name}}</h2>


<div class="d-flex flex-wrap justify-content-center">
  <div id="detailCard" class="card m-5" style="width: 18rem;">
    <div class="card-header">
      <h2>Event's Attending</h2>
    </div>
    <ul class="list-group list-group-flush">
      <li class="list-group-item">
        <ul>
          {{#each events}}
          <li>
            {{this.event_name}}
          </li>
          {{/each}}
        </ul>
      </li>
    </ul>
  </div>

  <div id="detailCard" class="card m-5" style="width: 18rem;">
    <div class="card-header">
      <h2>Interested in:</h2>
    </div>
    <ul class="list-group list-group-flush">

      <li class="list-group-item">
        <ul>
          {{#each interests}}
          <li>
            {{this.interest}}
          </li>
          {{/each}}
        </ul>
      </li>
    </ul>
  </div>
</div>

<div id="buttons" class="d-flex justify-content-center pt-5">
  <a href="/users/edit/{{user.id}}" class="btn btn-success btn-lg success p-4" role="button" aria-pressed="true">Add
    Events and Interests for this Attendee</a>
</div>