<div class="d-flex justify-content-center p-5">
  <div class="card" style="text-align:left">
    {{!-- <img src="..." class="card-img-top" alt="..."> --}}
    <h5 class="card-header" style="text-align:center">{{user.attendee_name}}</h5>
    <div class=" card-body">

      <h5>Events Attending:</h5>
      <ul>
        {{#each events}}
        <li>
          {{this.event_name}}
        </li>
        {{/each}}
      </ul>

      <h5>Interests:</h5>
      <ul>
        {{#each interests}}
        <li>
          {{this.interest}}
        </li>
        {{/each}}
      </ul>

    </div>
  </div>
</div>


<div class="d-flex justify-content-center pt-5">
  <a href="/users/edit/{{user.id}}" class="btn btn-dark btn-lg dark p-4" role="button" aria-pressed="true">Edit
    Attendee</a>
</div>